* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.navbar {
  height: 80px;
  width: 100%;
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 30px;
  z-index: 100;
}
.logo{
    /* border: 2px solid white; */
    padding: 10px; 
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}
.logo > svg{
    fill: white;
}
.navlinks{
    /* border: 2px solid white; */
    padding: 10px;
    list-style: none;
    display: flex;
    align-items: center;

}
.navlinks > li{
    height: 100%;
    display: flex;
    align-items: center;
    transition-delay: 0.2s;
}
.navlinks a {
    color: white;
    text-decoration: none;
    padding: 7.5px 16px;
    border-radius: 5px;
    transition: 0.2s;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .08em;
}
.navlinks > li:hover > a{
    background-color: #2b2a29;
    color: crimson;

}
.web-icons{
    /* border: 2px solid white; */
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;

  }

.search-icon{
  /* border: 2px solid white; */
  padding: 8px;
  border-radius: 70%;
  background-color: #2b2a29;
  cursor: pointer;
}
.web-icons > button{
  padding: 8px 16px;
  font-size: 13px;
  border-radius: 10px;
  border: none;
  background-color: #ff3c46;
  font-weight: 600;
  letter-spacing: .08em;
  cursor: pointer;
}
.web-icons > .web{
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}
.web-icons > .web:hover{
  background-color: #2b2a29;
}

/* HERO SECTION */
.video-container {
  height: 80vh;
  width: 100%;
  background-color: yellow;
  position: relative;
}
.video-container > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.hero-content{
  /* border: 2px solid white; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-content > h1{
  font-family: fantasy;
  font-size: 20px;
  margin: 32px 0 64px;
  text-transform: uppercase;
  color: #ece8e1;
  font-weight: 400;
  font-family: fantasy;
}
.hero-content > button{
  padding: 18px 32px;
  background-color: #ff4655;
  color: #ece8e1;
  border: 1px solid #ece8e1; 
  cursor: pointer;
}
.hero-content > button:hover{
  background-color: #ece8e1;
  color: black;
  
}


/* LATEST SECTION */
.latest-container{
  background-color: #ece8e1;
  padding: 60px;

}
.latest-container > header{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.latest-container h1{
  font-size: 48px;
  font-family: fantasy;
  letter-spacing: .028em;
  margin-bottom: 30px;
}
.latest-container p{
  font-weight: 600;
}






/* yhn se mera experiment hai 
 main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  justify-content: center;
 }
  


.photo-content1{
  border: 2px solid black;
  color: #ff3c46;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.028em;
  padding-top: 10px;
  margin-bottom: 50px;
  
}
.date-1{
  color: #0F1923;
  font-weight: 600;
  font-size: 12px;

}
.photo-details1 > h2{
  border: 2px solid black;
  color: #0F1923;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.028em;
  padding-top: 10px;

}
.photo-details1 > p{
  border: 2px solid black;
  color: #0F1923;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: lighter;
  letter-spacing: 0.028em;
  padding-top: 10px;
}
.photo-content2{
  border: 2px solid black;
  color: #ff3c46;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.028em;
  padding-top: 10px;
  margin-bottom: 50px;
}
.date-2{
  color: #0F1923;
  font-weight: 600;
  font-size: 12px;
}

.photo-details2 > h2{
  border: 2px solid black;
  color: #0F1923;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.028em;
  padding-top: 10px;
}
.photo-details2 > p{
  border: 2px solid black;
  color: #0F1923;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: lighter;
  letter-spacing: 0.028em;
  padding-top: 10px;
}
.photo-content3{
  border: 2px solid black;
  color: #ff3c46;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.028em;
  padding-top: 10px;
  margin-bottom: 50px;
}
.date-3{
  color: #0F1923;
  font-weight: 600;
  font-size: 12px;
}
.photo-details3 > h2{
  border: 2px solid black;
  color: #0F1923;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.028em;
  padding-top: 10px;
}
.photo-details3 > p{
  border: 2px solid black;
  color: #0F1923;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: lighter;
  letter-spacing: 0.028em;
  padding-top: 10px;
}





/* #mera-card, .photo-1, photo-content1{
  border: 2px solid black;
  color: rgba(240, 58, 58, 0.733);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.028em;
  /* padding: 0 10px 10px 0; 
} 

*/

.card-container{
  /* border: 10px solid black; */
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
}
.card{
  /* border: 10px solid black; */
  min-height: 385px;
  width: 400px;
  overflow: hidden;
  cursor: pointer;
}
.card > figure{
  width: 100%;
  height: 223px;
  overflow: hidden;
  /* border: 5px solid black; */
  position: relative;
}
.card .sharelink{
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 0;
  background-color: #0f192395;
  border: 0.5px solid #2b2a29;
}
.card img{
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  transition: 0.5s;
}
.card:hover img{
  transform: scale(1.1);
}
.card .category{
  color: #2a2a2a;
  padding-top: 15px;
  font-size: 14px;
}
.card .category >span{
  color: #ff4655;

}
.card .title{
  padding: 10px 0;
  font-size: 22px;
}
.card .description{
  font-weight: normal;
  font-size: 16px;
}